/* Layout */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: #f3f4f6;
}
.parent{
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;  /* Adjust width as needed */
    flex-shrink: 0;
}

/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

/* Product Statistics Box */
.product-stats {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 24px;
    width: 300px;  /* Adjust width as needed */
    margin-left: 250px;
}


/* Histogram Container */
.chart-container1 {
    width: 300px;  /* Set your desired width */
    height: 300px; /* Set your desired height */
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}

/* Responsive */
@media (max-width: 768px) {
    .chart-container {
        width: 90%;
        height: 300px;
    }
}
/* .contain{
    background-color: white;
    border: green solid 2px;
    margin-left: 550px;
    width: 400px;

} */
.back{
    border: black solid 2px;
    padding: 20px;
    border-radius: 25px;
    background-color: transparent;
    height: 8%;
    margin-top: auto;
    font-size: 15px;
    font-weight: bold;
width: 100px;
}
.back:hover{
    cursor: pointer;
    background-color: #343a40;
    color: white;
    font-weight: 300;
    font-weight: bold;
    transition:ease-in-out 0.2s;
    font-size:large;
}

.main-content2{
    background-color: white;
    margin-left: 50px;
    padding: 10px;
    height: 100px;
    margin-top: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.number{
    font-size: large;
    font-size: 50px;
text-align: center;}