*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-image:url(../images/bk.png);
   background-repeat: no-repeat;
    /* filter: blur(5px);    */
}
div{
    font-family: Arial, sans-serif;
    margin: 20px;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(221, 207, 195,.4);
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}
th {
    background-color: #f4f4f4;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}