.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #c0392b;
    color: #ecf0f1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .menu-item {
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-item:hover {
    background-color: #34495e;
  }
  
  .logout-menu {
    margin-top: 10px;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-menu:hover {
    background-color: #c0392b;
  }
  .sidebar{
    background-color: #c0392b;
  }
  